[submodule "Paddle"]
	path = Paddle
	url = https://github.com/PaddlePaddle/Paddle.git
	commit = 529fbc7139f44da6c0046c5aa99959d1aa43c9d4
[submodule "backends/musa/third_party/mutlass"]
	path = backends/musa/third_party/mutlass
	url = https://github.com/MooreThreads/mutlass.git
